* {
    box-sizing: border-box;    
}


body { 
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6, p, a, fieldset {
    font-family: verdana;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.heading1 {
    background-color: white;
    font-size: 14px;
}

.heading2 {
    background-color: #001039;
    opacity: 0.8;
    padding: 5px;
    text-align: left;
}

fieldset {
    border-radius: 0px 8px 0px 8px;
    border-color: #001039
}


.field {
    background-color: light-grey;
}

.button {
    background-color: green;
    color: white;
    font-size: large;
    border-radius: 10px 10px;
    padding: 15px;
}

h4 {
    text-align: center;
}

a {
    text-decoration: none;
    font-weight: bold;
}

footer {
    width: 100%;
    height: 82px;
    padding-top: 2px;
    background-color: #001039;
    opacity: 0.5;
    font-style: normal;
    color: #ffffff;
    font-size: 10px;
}